.rvmrc
.sass-cache
.bundle
.akephalos
documents/*
doc/**/*
db/*.sqlite3
config/locales/log
config/database.yml
log
log/*.log
rdoc/*
tmp
tmp/**/*
.DS_Store
coverage.data
coverage/*
public/system
public/assets
vendor/cache
lib/hermes/node_modules/*
public/javascripts/*
public/stylesheets/*
public/assets/source_maps/*
*.pyc
*.un~
.akephalos
test/remote/config/*
.idea/*
certs/svalbard/*.crt
certs/svalbard/*.csr
certs/svalbard/*.key
cupido.log
vendor/assets/javascripts/bower_components/*
sauce_connect.log*
node_modules
*.sublime-project
private_notes.rb

certs/svalbard/cacerts.pem

*.rdb

.byebug_history
