
ul.navigation {
  padding: 10px;
  overflow: hidden; // contain floating children

  li {
    display: block;
    float: left;
    list-style-type: none;
  }

  li + li {
    margin-left: 20px;
  }
}

.content {
  padding: 10px 44px;

  &:first-letter {
    text-transform: uppercase;
  }
}

.dialog-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba( black, 0.5 );

  &:empty {
    display: none;
  }
}

.dialog {
  width: 400px;
  height: 300px;
  box-sizing: border-box;
  padding: 11px 33px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
  background-color: white;
}
