<!DOCTYPE html>
<html ng-app="dialogRoutesLoFi">
<head>
  <base href="/" />
  <title>Dialog Routes (lofi)</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<section>
  <h1>Dialog Routes</h1>
  <ul class="navigation">
    <li><a ui-sref="calendar">Calendar</a></li>
    <li><a ui-sref="messages">Messages</a></li>
    <li><a ui-sref="dossier">Dossier</a></li>
  </ul>
  <div class="content" ui-view></div>
</section>

<div class="dialog-container"></div>

</body>
</html>
